
.tag {
    display: flex;
    height: 28px;
    font-weight: 600;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
    text-decoration: none;
    span {
        font-size: 13px;
        align-self: center;
    }
}

.javascript {
    color: black;
    background-color: #f1e05a;
}

.typescript {
    color: white;
    background-color: #2b7489;
}

.elixir {
    color: white;
    background-color: #6e4a7e;
}

.scss {
    color: white;
    background-color: #c6538c;
}

.html {
    color: white;
    background-color: #e34c26;
}

.swift {
    color: white;
    background-color: #ffac45;
}

.java {
    color: white;
    background-color: #b07219;
}