.post_mini_component {
  border: grey solid 1px;
  width: 100%;
  padding: 10px;
  text-align: left;
  overflow: auto;
  cursor: pointer;
  &:hover {
    background-color: rgb(240, 245, 245);
    transition: background-color 0.2s linear;
  }
  h3 {
    display:inline-block;
    margin: 0;
    padding-bottom: 4px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    margin: 2px 0px 2px 0px;
    padding: 10px 6px 10px 6px;
    overflow: auto;
    border: grey solid 1px;
  }
  .post_mini_footer {
    display: flex;
    flex-direction: row;
    padding: 6px 6px 6px 2px;
    width: 100%;
    div {
      flex: 1;
    }
    span {
      flex: 1;
      text-align: right;
      min-width: 20%;
    }
    .like_button {
      display: inline;
      z-index: 100;
    }
  }
}
