.pm-comp {
  border: solid red 1px;
  width: 600px;
  height: 100px;
  padding: 10px;
  text-align: left;
  h3 {
    margin: 0;
    border: solid red 1px;
  }
  p {
    margin: 0;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1em;
    height: 3em;
    border: solid red 1px;
  }
  .pm-comp-ft {
    border: solid red 1px;
    span {
      display: block;
      float: left;
      min-width: 20%;
      border: solid red 1px;
    }
  }

}
