@import '../../common/theme/mixins.scss';

.profile {
  position: relative;
  min-height: 160px;
  padding: 28px 14px;
  border-bottom: #c9d6cd solid 1px;
  .profile_avatar{
    width: 80px;
    height: 80px;
    border-radius: 24px;
    &:hover{
      cursor: pointer;
    }
  }
  .profile_alias {
    padding-left: 1px;
    font-size: 18px;
    @include respond-to('mobile') {
      display: block;
      width: 100px;
    }
    @include respond-to('small') {
      display: inline;
      width: inherit;
    }
  }
  .profile_full_name {
    font-weight: 300;
    @include respond-to('mobile') {
      font-size: 14px;
    }
    @include respond-to('small') {
      font-size: 17px;
    }
  }
  .profile_bio_container {
    @include respond-to('mobile') {
      width: inherit;
      margin-left: 0px;
    }
    @include respond-to('small') {
      width: inherit;
      margin-left: 86px;
    }
  }
  .profile_bio {
    padding-top: 6px;
    font-size: 18px;
    width: inherit;
    letter-spacing: 0.6px;
    max-width: 430px;
    overflow-x:hidden;
    word-wrap: break-word;
  }
  .profile_head_button {
    display: inline-block;
    float: right;
    button {
      float: right;
    }
    @include respond-to('mobile') {
      position: absolute;
      top: 80px;
      right: 12px;
    }
    @include respond-to('small') {
      position: relative;
      margin-top: 56px;
      top: 0px;
      right: 0;
    }
  }
}
