@import '../../common/theme/mixins.scss';

.profile_edit_form {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  width: inherit;
  .edit_form_field_container {
    width: 60%;
    height: 100%;
    margin: auto;
    @include respond-to('small') {
      width: 80%;
    }
    @include respond-to('medium') {
      width: 60%;
    }
  }
  input[type='text']{
    font-size: 20px;
    padding: 2px;
    width: 100%;
    line-height: 1.5;
  }
  button {
    display: block;
    font-size: 18px;
    width: 180px;
    margin: 12px auto;
    cursor: pointer;
  }
  .edit_field{
    padding: 16px 0 4px 0px;
  }
}

.is_requested {
  background: #c9d6cd;
  font-weight: 600;
  opacity: 0.6;
  &:hover {
    cursor: default;
    background: #c9d6cd;
  }
}
