@import '../../common/theme/mixins.scss';

.formDefault {
  max-height: 320px;
  z-index: 3;
  padding: 20px;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  align-self: center;
  border: 1px solid white;
  @include respond-to('mobile') {
    width: 100%;
  }
  @include respond-to('medium') {
    width: 70%;
  }
}

.editFormHover {
  align-self: center;
  cursor: pointer;
  @include respond-to('mobile') {
    input {
      border-left: none;
      border-right: none;
      border-bottom: solid 3px #EEEEEE;
      cursor: pointer;
      background: white;
    }
  }
  @include respond-to('medium') {
    &:hover {
      box-shadow: 0 8px 6px -6px black;
      border: 1px solid rgb(240, 245, 245);
      input {
        border-bottom: 4px solid #EEEEEE;
      }
    }
  }
}

.isEditing {
  @include respond-to('mobile') {
    input {
      border-left: none;
      border-right: none;
      background: white;
    }
  }
  @include respond-to('medium') {
    width: 70%;
    box-shadow: 0 8px 6px -6px black;
    border: 1px solid rgb(240, 245, 245);
    input {
      border-left: none;
      border-right: none;
      background: white;
    }
  }
}

.overlay {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: -webkit-fill-available;
  @include respond-to('mobile') {
    width: 100%;
  }
  @include respond-to('medium') {
    width: 50vw;
  }
  @include respond-to('large') {
    width: 60vw;
  }
}

.editForm {
  border: none;
}

.acceptEdit {
  font-size: 15px;
  font-weight: 600;
  width: 100px;
  max-height: 30px;
  min-height: 30px;
}

.rejectEdit {
  border: red solid 1px;;
  color: red;
  font-size: 15px;
  font-weight: 600;
  width: 80px;
  max-height: 30px;
  min-height: 30px;
}
