.flex {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  .flex-col {
    flex-direction: column;
  }
  .flex-wrap {

  }
}

.selectable {
  cursor: pointer;
}
