@import '../../styles/colors';


.selectable {
  border-radius: 25px;
  &:hover{
    cursor: pointer;
  }
}

.colorPrimary {
  color: white;
  background-color: $primary;
  border: solid white 0.4px;
  &:hover {
    background-color: $primary_focused;
    color: $primary;
    svg {
      transition: fill 0.2s linear;
      stroke: $primary;
      stroke-width: 0.5px;
      fill: $primary;
    }
  }
}

.colorSecondary {
  color: black;
  fill: black;
  background-color: white;
  border: solid $primary 1.4px;
  &:hover{
    background-color: $bg-hover;
    color: $primary;
    svg {
      stroke: $primary;
      stroke-width: 0.5px;
      fill: $primary;
    }
  }
}

.borderNone {
  border: none;
}
