.follow_request {
  border-bottom: solid #c9d6cd 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  &:hover {
    background-color: rgb(240, 245, 245);
    transition: background-color 0.2s linear;
  }
  img{
    width: 40px;
    height: 40px;
  }
  span {
    flex: 2;
    padding-left: 12px;
    font-size: 18px;
    margin: auto;
  }
  button {
    font-size: 16px;
    height: 30px;
    width: 100px;
    margin: 4px;
    cursor: pointer;
  }
}

.follow_request_buttons {
  display: flex;
  flex: 1;
}
