@import "../../common/styles/colors";
@import '../../common/theme/mixins.scss';

.accountInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  @include respond-to('mobile') {
    padding-bottom: 70px;
  }
  @include respond-to('small') {
      padding-bottom: 0px;
  }
}

.accountName {
  margin-top: 20px;
}

.logoutButton {
  font-size: 16px;
  font-weight: 600;
  width: 90px;
  height: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}
