@import '../../common/theme/mixins.scss';

.edit_container {
  height: calc(100vh - 58px);
  padding-top: 20px;
  @include respond-to('small') {
    width: 100%;
  }
  @include respond-to('medium') {
    width: 600px;
  }
}

.logout_button {
  font-size: 18px;
  width: 80px;
  display: flex;
  flex: 1;
  margin: 24px auto;
}
