@import '../../common/theme/mixins.scss';


.addMarginToLastListItem {
  @include respond-to('mobile') {
    margin-bottom: 52px;
  }
  @include respond-to('small') {
    margin-bottom: 0px;
  }
}

.guestNotice{
  padding: 12px;
  font-size: 20px;
}

.guestNoticeLink{
  font-weight: 600;
  &:hover{
    text-decoration: underline;
    color: green;
    cursor: pointer;
  }
}


.whoToFollow {
  margin-bottom: 56px;
}