.home_container {
  position: relative;
  width: inherit;
  display: block;
  border: 1px green solid;
}

.home_center_feed {
  width: 600px;
  left: 20vw;
  position: absolute;
  display: inline;
  border: 1px green solid;
}

.home_right_sidebar {
  position: absolute;
  display: inline;
  width: 400px;
  left: calc( 20vw + 600px );
  border: 4px purple purple;
}

.home_left_sidebar {
  left:0;
  position: absolute;
  display: inline;
  width: 20vw;
  border: 4px purple purple;
}
