<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://diegoddox.github.io/react-redux-toastr/7.1/react-redux-toastr.min.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section id="content"><%- content %></section>
    <script>
          window.__INITIAL_STATE_ = <%- initialState %>
    </script>
    <script src="/static/main.js.gz"></script>
  </body>
</html>
