<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="icon" href="data:,">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section id="content"><%- content %></section>
    <script>
          window.__INITIAL_STATE_ = <%- initialState %>
    </script>
    <script src="/static/main.js.gz"></script>
  </body>
</html>
