<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/static/main.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section id="content"><%- content %></section>
    <script src="/static/app.client.js"></script>
  </body>
</html>
