<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>BadTwitter</title>
    <meta name="Description" content="Twitter clone built using React with Redux">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/main.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section id="content"><%- content %></section>
    <script>
          window.__INITIAL_STATE_ = <%- initialState %>
    </script>
    <script src="/static/main.js.gz"></script>
  </body>
</html>
