@import "../../common/styles/colors";
@import '../../common/theme/mixins.scss';

$outline: lighten(#c9d6cd, 6%);

.inboxList {
  margin-top: 0px;
}

.noHeaderBottomBord {
  border-bottom: none;
}

.topTabs {
  display: flex;
  position: sticky;
  z-index: 50;
  width: inherit;
  max-width: inherit;
  border-bottom: solid 1px $outline;
  @include respond-to('mobile') {
    top: 32px;
  }
  @include respond-to('small') {
    top: 53px;
    max-width: inherit;
  }
  @include respond-to('medium') {
    max-width: 598px;
  }
}
