@import '../../common/theme/mixins.scss';
.subscribe_request_button {
  display: block;
  height: 28px;
  width: 200px;
  font-size: 16px;
  border-radius: 25px;
  border: solid green 1.4px;
  color: green;
  padding: 0 10px;
  &:hover {
    cursor: pointer;
    background-color: rgb(240, 245, 245);
    transition: background-color 0.2s linear;
  }
  @include respond-to('mobile') {
    width: 80px;
  }
  @include respond-to('small') {
    width: 60px;
    .request_icon{
      margin-left: 8px;
      display: block;
    }
    .request_text {
      display: none;
    }
  }
  @include respond-to('medium') {
    width: 100px;
    .request_icon{
      display: none;
    }
    .request_text {
      display: block;
    }
  }
  @include respond-to('large') {
    width: 100px;
  }
}

.is_requested {
  opacity: 0.4;
  color: darken(green, 5%);
  border: solid darken(green, 5%) 1.4px;
  &:hover {
    cursor: default;
    background: none;
  }
}

.following{
  border: none;
  font-weight: 500;
  opacity: 0.4;
  &:hover {
    cursor: default;
    background: none;
  }
}
