
.subscribeBtn {
  flex: 1;
  min-width: 60px;
  max-width: 80px;
  min-height: 30px;
  max-height: 26px;
  font-weight: 600;
}

.unsubscribe {
  transition: background-color 0s linear;
  &:hover {
    transition: background-color 0s linear;
    background-color: red;
  }
}
