@import '../../common/theme/mixins.scss';

$primary_green: lighten(green, 5%);

.nav_bar {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  @include respond-to('mobile') {
    position: fixed;
    flex-direction: row;
    bottom: -1px;
    width: 100%;
    max-height: 48px;
    background-color: white;
    border-top: #c9d6cd solid 1px;
    z-index: 4;
  }
  @include respond-to('small') {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: 1.5px;
  }
  @include respond-to('medium') {
    padding: 0px 16px;
  }
}

.navbar_item {
  flex: 1;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  @include respond-to('small') {
    padding: 6px 0px;
    margin: 0 auto;
  }
  @include respond-to('medium') {
    margin: 0;
  }
  .navbar_content {
    display: flex;
    padding: 10px;
    svg { height: 28px;}
    @include respond-to('mobile') {
      svg { margin: 0 auto;}
      width: 100%;
    }
  }
  &:hover {
    .navbar_content {
      @include respond-to('small') {
        background-color: rgb(240, 245, 245);
        transition: background-color 0.2s linear;
        border-radius: 25px;
      }
    }
    svg {
      transition: fill 0.2s linear;
      fill: green;
    }
    #nav_post {
      background: green;
      svg { stroke: white;
            fill: white;
          }
    }
  }
}

@include respond-to('mobile') {
  .remove_for_mobile { display: none; }
  .display_for_mobile{
    position: fixed;
    max-width: 52px;
    bottom: 50px;
    right: 8px;
  }
  .nav_bar_text { display: none;}
  .nav_post_button { display: none;}
}
@include respond-to('small') {
  .remove_for_mobile { display: block; }
  .display_for_mobile{
    position: relative;
    bottom: 0;
    right: 0;
    max-width: 295px;
  }
}
@include respond-to('xxlarge') {
  .display_for_mobile{
    position: relative;
    bottom: 0;
    right: 0;
    max-width: 295px;
  }
  .nav_post_button { display: block;}
  .nav_bar_text { display: inline;
                  margin-left:  20px;
                  margin-right: 15px;}
  .new_post_icon { display: none;}
  #nav_post { display: none;}
}

.hide_content {
  display: none;
}

.focus_green {
  transition: color 0.2s linear;
  color: green;
}

.nav_bar_post_icon_container {
  #nav_post {
    background: $primary_green;
    border-radius: 25px;
    svg { height: 32px; }
    }
  @include respond-to('xlarge') { display: block; }
  @include respond-to('xxlarge') { display: none; }
}

.nav_post_button {
  width: 195px;
  height: 50px;
  border-radius: 25px;
  background-color: $primary_green;
  font-weight: 600;
  color: white;
  font-size: 18px;
  margin-top: 12px;
  &:hover {
    cursor: pointer;
    transition: background-color 0.2s linear;
    background-color: green;
 }
}
