@import '../../styles/colors';

.btn {
  position: relative;
  border: none;
  border-radius: 25px;
  &:hover{
    cursor: pointer;
  }
}

.theme-PrimaryFill {
  color: white;
  background-color: $primary;
  border: solid white 0.4px;
  &:hover {
    background-color: $primary_focused;
  }
}

.theme-PrimaryOutline {
  flex: 1;
  color: $primary;
  background-color: white;
  border: solid $primary 1.4px;
  &:hover{
    background-color: $bg-hover;
  }
}

.theme-RedFill {
  color: white;
  background-color: red;
  border: solid white 0.4px;
  &:hover {
    background-color: darken(red, 5);
  }
}

.theme-RedOutline {
  color: red;
  background-color: white;
  border: solid red 0.4px;
  &:hover {
    background-color: darken(white, 5);
  }
}

.btnDisabled {
  opacity: 0.5;
  cursor: default;
  &:hover {
    opacity: 0.5;
    cursor: default;
  }
}

.stylePrimary {
  color: white;
  background-color: $primary;
  border: solid white 0.4px;
  &:hover {
    background-color: $primary_focused;
  }
}

.styleSecondary {
  flex: 1;
  color: $primary;
  background-color: white;
  border: solid $primary 1.4px;
  &:hover{
    background-color: $bg-hover;
  }
}
