@import '../theme/mixins.scss';

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: flex-end;
}

main {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  @include respond-to('small') {
    display: flex;
    flex-grow: 2;
  }
}

.nav_container {
  display: none;
  width: 68px;
  @include respond-to('small') {
    display: flex;
    width: 75px;
  }
  @include respond-to('medium') {
    display: flex;
    width: 88px;
  }
  @include respond-to('xlarge') {
    display: flex;
    width: 275px;
  }
}

.main_container {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  @include respond-to('small') {
    width: 100%;
  }
  @include respond-to('medium') {
    width: 100%;
    min-width: 600px;
  }
  @include respond-to('large') {
    width: 100%;
    min-width: 990px;
  }
  @include respond-to('xlarge') {
    width: 100%;
    min-width: 990px;
  }
}

.center_container {
  @include respond-to('small') {
    width: 100%;
  }
  @include respond-to('medium') {
    width: 600px;
    min-width: 600px;
  }
  width: 600px;
  border-right: solid #c9d6cd 1px;
  border-left: solid #c9d6cd 1px;
  .center_container_header {
    position: fixed;
    margin-top: 0;
    padding-top: 14px;
    border-bottom: solid #c9d6cd 1px;
    width: 598px;
    height: 58px;
    background: white;
    padding-left: 14px;
  }
  .center_container_body {
    margin-top: 58px;
    overflow-y: scroll;
  }
}

.right_container {
  display: none;
  @include respond-to('small') {
    display: none;
  }
  @include respond-to('medium') {
    display: none;
  }
  @include respond-to('large') {
    border: 2px blue solid;
    display: flex;
    width: 290px;
  }
  @include respond-to('xlarge') {
    width: 350px;
    margin-right: 10px;
    border: 2px blue solid;
  }
}
