@import '../theme/mixins.scss';

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.selectable {
  &:hover{
    cursor: pointer;
  }
}

header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: flex-end;
  @include respond-to('small') {
    max-width: 68px;
  }
  @include respond-to('medium') {
    max-width: 100%;
  }
}

main {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}

.nav_container {
  width: 66px;
  @include respond-to('mobile') {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 64px;
  }
  @include respond-to('small') {
    display: flex;
    width: 68px;
  }
  @include respond-to('medium') {
    display: flex;
    width: 88px;
  }
  @include respond-to('large') {
    display: flex;
    width: 88px;
  }
  @include respond-to('xlarge') {
    display: flex;
    width: 88px;
  }
  @include respond-to('xxlarge') {
    display: flex;
    width: 275px;
  }
}

.main_container {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  @include respond-to('small') {
    min-width: 100%;
    width: 100%;
  }
  @include respond-to('medium') {
    width: 100%;
    min-width: 600px;
  }
  @include respond-to('large') {
    width: 920px;
  }
  @include respond-to('xxlarge') {
    width: 990px;
  }
}

.center_container {
  @include respond-to('mobile') {
    width: 100vw;
  }
  @include respond-to('small') {
    width: 100%;
  }
  @include respond-to('medium') {
    width: 600px;
    min-width: 600px;
  }
  max-width: 600px;
  .center_container_header {
    background-color: white;
    position: fixed;
    z-index: 2;
    margin-top: 0;
    padding-top: 14px;
    border-right: solid #c9d6cd 1px;
    border-left: solid #c9d6cd 1px;
    border-bottom: solid #c9d6cd 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include respond-to('mobile') {
      width: 100vw;
      height: 40px;
      padding-top: 6px;
      padding-left: 10px;
      .header_back{
        font-size: 20px;
        font-weight: 300;
        color: green;
        margin-left: 4px;
        margin-right: 10px;
        &:hover {
          cursor: pointer;
        }
      }
      .header_avatar_container {
        display: inline-block;
        height: 23px;
        width: 23px;
        margin-right: 16px;
      }
      .header_avatar {
        position: absolute;
        width: 28px;
        height: 28px;
        border-radius: 30px;
        margin-right: 12px;
        padding: 0px;
        overflow: auto;
      }
    }
    @include respond-to('small') {
      width: 100%;
      height: 58px;
      padding-top: 14px;
      padding-left: 14px;
      .header_avatar_container {
        display: none;
      }
      .header_avatar{
        display: none;
      }
    }
    @include respond-to('medium') {
      width: 598px; // need to breakpoint
    }
    height: 58px;
    background: white;
    padding-left: 14px;
  }
  .center_container_body {
    @include respond-to('mobile') {
      position: relative;
      margin-top: 40px;
      width: 100vw;
      padding-bottom: 50px;
      /* iphone 6, 6s, 7, 8 */
        @media only screen
          and (min-device-width: 375px)
          and (max-device-height: 667px)
          and (-webkit-device-pixel-ratio: 2) {
            padding-bottom: 120px;
        }
        /* iphone X , XS, 11 Pro */
        @media only screen
          and (min-device-width: 375px)
          and (max-device-height: 812px)
          and (-webkit-device-pixel-ratio: 3) {
            padding-bottom: 160px;
        }
        /* iphone XR, 11 */
        @media only screen
          and (min-device-width : 414px)
          and (max-device-height : 896px)
          and (-webkit-device-pixel-ratio : 2) {
            padding-bottom: 160px;
        }
       /* iphone XS Max, 11 Pro Max */
       @media only screen
          and (min-device-width : 414px)
          and (max-device-height : 896px)
          and (-webkit-device-pixel-ratio : 3) {
            padding-bottom: 160px;
        }
    }
    @include respond-to('small') {
      min-height: calc(100vh - 58px);
      width: 100%;
      margin-top: 58px;
      padding-bottom: 0px;
    }
    @include respond-to('medium') {
      width: 598px;
    }
    border-right: solid #c9d6cd 1px;
    border-left: solid #c9d6cd 1px;
  }
}

.right_container {
  display: none;
  @include respond-to('small') {
    display: none;
    width: 230px;
  }
  @include respond-to('medium') {
    display: none;
    width: 275px;
  }
  @include respond-to('large') {
    display: flex;
    width: 350px;
    margin-right: 10px;
  }
  @include respond-to('xlarge') {
    display: flex;
    flex: 1;
    width: 350px;
    margin-right: 10px;
  }
}
