.sidebar {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.sidebar_item {
  flex-basis: 60px;
  border: purple solid 2px;
  &:hover{
    cursor: pointer;
  }
}
