

$outline: lighten(#c9d6cd, 6%);

.tabContainer {
  display: flex;
  position: fixed;
  z-index: 50;
  margin-top: 53px;
  width: 100%;
  max-width: 599px;
  border-bottom: solid 1px $outline;
}

.tabHeader {
  display: flex;
  flex: 1;
  width: 100%;
  background: white;
  border-right: solid 1px $outline;
}

.tabHeaderItem {
  flex: 1;
  padding: 13px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  &:hover{
    background: #f0f5f5;
  }
}

.tabHeaderItemFocused {
  color: darken(green, 10%);
  background: #f0f5f5;
}

.tabView {
  width: 100%;
}
