@import "../../common/styles/colors";
@import '../../common/theme/mixins.scss';

$outline: lighten(#c9d6cd, 6%);

.tab {
  display: flex;
  flex: 1;
  background: white;
  border: solid $outline 1px;
}

.tabContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding-top: 11px;
  padding-bottom: 11px;
  cursor: pointer;
  &:hover{
    background: #f0f5f5;
  }
}

.tabHeaderItemFocused {
  color: darken(green, 10%);
  background: #f0f5f5;
}