@import '../../common/theme/mixins.scss';


.sign_up_container{
  position: absolute;
  width: inherit;
  height: inherit;
  overflow: scroll;
  @include respond-to('mobile') {
    max-width: 500px;
    padding-bottom: 120px
  }
  @include respond-to('small') {
    max-width: inherit;
    padding-bottom: 0px;
  }
}

.alt_link {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding-top: 12px;
  width: 500px;
  @include respond-to('mobile') {
    width: 180px;
  }
  @include respond-to('small') {
    width: 500px;
  }
  font-size: 20px;
  cursor: default;
  span {
    font-weight: 600;
    &:hover{
      color: green;
      cursor: pointer;
    }
  }
}
