.list_divider{
  height: 36px;
  font-size: 18px;
  background-color: lighten(#e6ece8, 5%);
  line-height: 36px;
  padding-left: 12px;
  border-top: #e6ece8;
  border-bottom: solid #c9d6cd 1px;
  &:hover{
    cursor: default;
  }
}
