.p-form {
  border: solid red 3px;
  width: 600px;
  height: 100px;
  padding: 10px;
  text-align: left;
  input {
    &[type=text] {
      width: 590px;
      height: 60px;
    }
    &[type=submit] {
      width: 50px;
    }
  }

}
