@import '../../common/theme/mixins.scss';

.p-form {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  border-bottom: #c9d6cd solid 1px;
  align-items:flex-end;
  background: white;
  .post_form_main {
    display: flex;
    width: 100%;
    img {
      display: flex;
      width: 50px;
      height: 50px;
      margin-right: 5px;
      border-radius: 10px;
      display: inline-block;
    }
    #input {
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
        background-color: white;
        background-color: -moz-field;
        border: none;
        max-width: 500px;
        margin-top: 5px;
        padding: 4px 3px;
        overflow: visible;
        font-size: 20px;
        outline: none;
        &:empty:not(:focus):before{
          font-size: 22px;
          color: gray;
          content:attr(data-text)
        }
        &:empty:focus:before{
          font-size: 22px;
          color: lighten(gray, 30%);
          content:attr(data-text);
        }
        &:hover{
          cursor: text;
        }
    }
  }
  .post_form_footer {
    display: flex;
    padding-top: 12px;
  }
  .submit_post {
      width: 100px; // need to breakpoint
      font-size: 16px;
      font-weight: 600;
      height: 30px;
      background: lighten(green, 5%);
      color: white;
      opacity: 0.4;
      border: #c9d6cd solid 1px;
      border-radius: 25px;
    }
  .highlighted {
    background: lighten(green, 5%);
    color: lighten(#c9d6cd, 80%);
    font-weight: 700;
    opacity: 1;
    &:hover{
      cursor: pointer;
      background-color: darken(green, 4%);
      transition: background-color 0.2s linear;
    }
  }
}


[contenteditable=true]:focus {
        outline: none;
}
