@import '../../common/theme/mixins.scss';
@import '../../common/layout/container.scss';
@import '../../common/layout/resets.scss';

.app{
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
  overflow-y: scroll;
  min-height: 100%;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;
}

main {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  @include respond-to('small') {
    flex-grow: 2;
    width: 100%;
  }
  @include respond-to('medium') {
    flex-grow: 2;
    width: auto;
  }
  @include respond-to('large') {
    flex-grow: 1;
  }
}

.navLayout {
  display: flex;
  @include respond-to('mobile') {
    width: 68px;
    padding-left: 5px;
    padding-right: 5px;
  }
  @include respond-to('small') {

  }
  @include respond-to('medium') {
    width: 76px;
    padding-left: 10px;
    padding-right: 10px;

  }
  @include respond-to('large') {

  }
  @include respond-to('xxlarge') {
    width: 275px;
  }
}
