@import '../../common/theme/mixins.scss';

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

header {
  display: none;
  font-size: 15px;
  @include respond-to('small') {
    display: flex;
    flex: 1 0 auto;
  }
  @include respond-to('medium') {
    display: flex;
    flex: 1 0 auto;
  }
}

main {
  display: flex;
  flex: 1 1 auto;
  max-height: 100vh;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: #c5e0d5;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
[contenteditable="true"]:focus {
    outline: none;
}
