.account_nav_container {
  display: flex;
  .account_nav_item {
    display: flex;
    flex: 1;
    justify-content: space-around;
    border: solid purple 1px;
    text-align: center;
    justify-content: center;
    align-content: center;
    height: 40px;
    &:hover {
      cursor: pointer;
    }
    div {
      line-height: 40px;
      border: solid gold 1px;
    }
  }
}
