.ReactCrop {
  width: auto;
  display: block;
  position: relative;
  margin: 0 auto;
}

#uploaded_image {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.ReactCrop__image {
  max-height: 550px;
  max-width: 550px;
}

.edit_pic_save {
  display: block;
  font-size: 18px;
  width: 180px;
  margin: 10px auto;
  cursor: pointer;
}
