@import '../../common//theme/mixins.scss';

.trendingContainer {
  position: fixed;
  margin-top: 57px;
  margin-left: 14px;
  min-height: 400px;
  border-radius: 5px;
  width: 350px; // set breakpoints for container items
  .trending_show_more {
    background-color: lighten(#c9d6cd, 14%);
    line-height: 46px;
    padding-left: 12px;
    color: green;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    &:hover{
      cursor: pointer;
      background-color: lighten(#c9d6cd, 11%);
      transition: background-color 0.2s linear;
    }
  }
}

.trendingContainer {
  @include respond-to('small') {
    width: 230px;
  }
  @include respond-to('medium') {
    width: 275px;
  }
  @include respond-to('large') {
    width: 275px;
  }
  @include respond-to('xlarge') {
    width: 320px;
  }
  @include respond-to('xxlarge') {
    width: 350px;
  }
}

.trending_item2 {
  width: 100%;
  border-bottom: solid lighten(#c9d6cd, 5%) 1px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  .item_category {
    font-size: 13px;
    font-weight: 500;
    color: darken(gray, 5%);
    letter-spacing: 0.6px;
  }
  .item_title {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .item_mentions {
    font-weight: 500;
    font-size: 14px;
    color: darken(gray, 5%);
  }
  &:hover{
    cursor: pointer;
  }
}

.trendingRightContainer {
  background-color: lighten(#c9d6cd, 14%);
  &:hover{
    cursor: pointer;
    background-color: lighten(#c9d6cd, 11%);
    transition: background-color 0.2s linear;
  }
}